# Dependencies
node_modules/
/.pnp
.pnp.js

# Build
dist/
build/
.cache/
.parcel-cache/
.next/
out/

# Environment
.env
.env.local
.env.development
.env.test
.env.production

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln